<header class="header">
    <nav class="header-nav">
        <a 
            class="btn btn-primary header-nav__link"
            href="#">
            <i class="fa-solid fa-house"></i>
            Home
        </a>
        <a 
            class="btn btn-success header_nav_link" 
            href="">
            <i class="fa-solid fa-mobile-screen-button"></i>
            Preview
        </a>
        <a 
            class="btn btn-secondary header_nav_link" 
            href="#">
            <i class="fa-solid fa-file"></i>
            Manual
        </a>
    </nav>
    <div class="blank"></div>
    <div class="account-wrapper">
        <div class="account--title">
            Admin
        </div>
        <div class="account--icon">
            A
        </div>
    </div>
</header>
