<nav class="sidebar">
    <div class="logo-wrapper">
        
    </div>
    <nav class="sidebar-nav">
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-house"></i>
            Home
        </a>
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-box"></i>
            Products
        </a>
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-table-cells-large"></i>
            Variations
        </a>
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-boxes-stacked"></i>
            Categories
        </a>
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-window-restore"></i>
            Web Sections
        </a>
        <a 
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-file"></i>
            Web Template
        </a>
        <a 
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-circle-info"></i>
            Web info
        </a>
        <a 
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-chart-line"></i>
            Web Stadistics
        </a>
        <a 
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-globe"></i>
            Web sites
        </a>
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-user"></i>
            User
        </a>
    </nav>
</nav>
