<nav class="sidebar">
    <div class="logo-wrapper">
        
    </div>
    <nav class="sidebar-nav">
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-house"></i>
            Home
        </a>
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-box"></i>
            Products
        </a>
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-table-cells-large"></i>
            Variations
        </a>
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-boxes-stacked"></i>
            Categories
        </a>
        <a
            class="sidebar-nav__link"
            href="#">
            <i class="fa-solid fa-window-restore"></i>
            Web Sections
        </a>
    </nav>
</nav>
