<footer class="footer">
    <section class="footer-route">
        {{ range $i, $pathStr := .view.pathArray }}
            <a class="footer-route__element" href="#">{{ $pathStr }}</a>
        {{ end }}
    </section>
    <section class="section section--info">
        <p class="multicms-title">
            MultiCMS
        </p>
        <p class="section__text">
            Made using Golang and Gin-Gonic, Bootstrap 5, and a bunch more stuff.
        </p>
        <p class="section__text">
            // Made by <a href="#">Bl4ky113</a>.
        </p>
        <p class="section__text">
            <!-- By now -->
            Code licensed by <a href="#">GNU GPLv3</a> licence.
        </p>
    </section>
    <section class="section">
        <p class="section__title">
            Site Links
        </p>
        <ul class="section-list">
            <li class="section-list__item">
                <a class="section__link" href="">Home</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Products</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Variations</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Categories</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Web Sections</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Web Template</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Web Info</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Web Sites</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">User</a>
            </li>
        </ul>
    </section>
    <section class="section">
        <p class="section__title">
            Project Links
        </p>
        <ul class="section-list">
            <li class="section-list__item">
                <a class="section__link" href="">Home</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Products</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Variations</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Categories</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Web Sections</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Web Template</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Web Info</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">Web Sites</a>
            </li>
            <li class="section-list__item">
                <a class="section__link" href="">User</a>
            </li>
        </ul>
    </section>
</footer>
