<header class="header">
    <nav class="header-nav">
        <a 
            class="btn btn-success" 
            href="">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <span class="btn__label">
                Preview
            </span>
        </a>
        <a 
            class="btn btn-secondary header_nav_link" 
            href="#">
            <i class="fa-solid fa-file"></i>
            <span class="btn__label">
                Manual
            </span>
        </a>
    </nav>
    <div class="blank"></div>
    <div class="account-wrapper">
        <span class="account__title">
            {{ .view.usrName }}
            <span class="account__separator"></span>
            {{ .view.usrRole }}
        </span>
        <div class="account__icon">
            <span>
                {{ .view.usrIcon }}
            </span>
        </div>
    </div>
</header>
