{{ template "admin_base.tmpl" . }}

{{ define "admin_main_content" }}
    <h2 class="main__title">
        Ipsum assumenda voluptate reprehenderit praesentium ratione 
        Ipsum assumenda voluptate reprehenderit praesentium ratione 
        Ipsum assumenda voluptate reprehenderit
    </h2>
    <p class="main__subtitle">
        Ipsum assumenda voluptate reprehenderit praesentium ratione 
    </p>
    <p class="main__subsubtitle">
        Ipsum assumenda voluptate reprehenderit praesentium ratione 
    </p>
    <p class="main__text">
        TEST
        Ipsum assumenda voluptate reprehenderit praesentium ratione 
        Elit ipsam nihil ducimus inventore explicabo. Asperiores expedita asperiores voluptatum sunt enim Officia vero qui exercitationem voluptatum quaerat ex. Incidunt ullam vero eligendi perspiciatis facilis dolorum Est asperiores eligendi ducimus
    </p>
    <form class="form-wrapper">
        bs-input
    </form>
{{ end }}

