.header {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    background-color: #fff;

    box-shadow: 0px 5px 20px -15px #000;

    display: flex;

    grid-area: header;
}

.header .header-nav {
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.header .header-nav .btn {
    width: 100%;
    min-width: fit-content;
}

.header .blank { flex: 1 0; }

.header .account-wrapper {
    flex: 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.header .account-wrapper .account__icon {
    --icon-size: 5.25vh;

    width: var(--icon-size);
    height: var(--icon-size);

    border: 0.15rem solid var(--bs-gray-200); 
    border-radius: 0.5rem;

    background-color: var(--bs-primary);

    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;

    color: var(--bs-white);
    font: bold 1.75em var(--bs-font-sans-serif);
}

@media screen and (max-width: 576px) {
    .header {
        padding: 0.25rem 1rem;
    }

    .header .header-nav .btn .btn__label,
    .header .account-wrapper .account__title {
        display: none;
    }

    .header .header-nav .btn {
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.25rem;
    }
}
